<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight" routerLink="../detail">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight" routerLink="../review">Application Review</div>
        <div class="p-2 flex-fill bd-highlight" routerLink="../pool">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" routerLink="../activity">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" routerLink="../contacts">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight active-tab" routerLink="../log">Project Log</div>
    </div>

    <div class="my-2">
        <div class="ci-card-title">
            <div class="float-left">Project Log</div>
            <div class="float-right">

                <button class="btn btn-secondary ml-2 px-3"><fa-icon icon="plus" class="mr-2"></fa-icon>Add</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="m-2">
            Table
        </div>
    </div>

    <div class="my-3">
        <div class="ci-card-title">
            <div>Search Control</div>
        </div>
        <div class="m-2">
            <div style="width: 100%; display: flex; flex-wrap: wrap;">
                <div style="flex: 0 0 20%;">
                    <div class="py-2 pr-2">
                        <div><label>User</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 20%;">
                    <div class="p-2">
                        <div><label>Entry Detail</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-2 my-3">
        <div class="float-right">
            <button class="btn btn-primary px-3"><fa-icon icon="search" class="mr-2"></fa-icon>Search</button>
            <button class="btn btn-secondary ml-2 px-3">Reset</button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
