<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}} - {{info?.projName}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../review/', projectNo]">Application Review</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../log/', projectNo]">Project Log</div>
    </div>
    <div class="m-2">
        <div><label class="font-weight-bold">Project Name</label></div>
        <div><input type="text" class="form-control bdr-left-green" /></div>
    </div>
    <div class="m-2">
        <div class="row">
            <div class="col-sm-4">
                <div><label class="font-weight-bold">Info/Indicators</label></div>
                <div class="project-check-group px-2 py-3 mr-4">
                    <div class="custom-control-inline custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1">
                        <label class="custom-control-label text-secondary" for="customRadio">Urban</label>
                    </div>
                    <div class="custom-control-inline custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                        <label class="custom-control-label text-secondary" for="customRadio2">Rural</label>
                    </div>
                    <br />
                    <div class="custom-control-inline custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                        <label class="custom-control-label text-secondary" for="customRadio3">Housing
                        </label>
                    </div>
                    <div class="custom-control-inline custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                        <label class="custom-control-label text-secondary" for="customRadio4">Economic Development
                        </label>
                    </div>
                    <div class="custom-control-inline custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio5" name="example1">
                        <label class="custom-control-label text-secondary" for="customRadio5">Mixed Use
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ml-2 mr-2"><label class="font-weight-bold">Units</label></div>
                <div class="project-check-group p-2 ml-2 mr-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div><label class="mb-0">Rental Units</label></div>
                            <div><input type="text" class="form-control bdr-left-green" /></div>
                        </div>
                        <div class="col-sm-6">
                            <div><label class="mb-0">Owner-Occupied Units</label></div>
                            <div><input type="text" class="form-control bdr-left-green" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ml-4"><label class="font-weight-bold">Job Creation/Retention</label></div>
                <div class="project-check-group p-2 ml-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div><label class="mb-0">Jobs Created</label></div>
                            <div><input type="text" class="form-control bdr-left-green" /></div>
                        </div>
                        <div class="col-sm-6">
                            <div><label class="mb-0">Jobs Retained</label></div>
                            <div><input type="text" class="form-control bdr-left-green" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div>
            <div class="custom-control custom-checkbox custom-control-inline my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label font-weight-bold" for="customCheck">Geographically Defined Beneficiaries
                </label>
            </div>
            <div>
                <div class="project-check-group px-2 py-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck1">Targeted Home
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck2">Champion Community
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck3">Empowerment Zone
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck4" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck4">Enterprise Community
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck5" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck5">Indian Area
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck6" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck6">Brownfield Tax Credit
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck7" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck7">Disaster Area
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck8" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck8">Military Base Closing
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customCheck9" name="geographically">
                        <label class="custom-control-label text-secondary" for="customCheck9">Community Adjustment and Investment Program
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div>
            <div class="custom-control custom-checkbox custom-control-inline my-2">
                <input type="checkbox" class="custom-control-input" id="example2" name="example2">
                <label class="custom-control-label font-weight-bold" for="example2">Individual Beneficiaries
                </label>
            </div>
            <div>
                <div class="project-check-group px-2 py-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="individual1" name="individual">
                        <label class="custom-control-label text-secondary" for="individual1">Jobs Created
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="individual2" name="individual">
                        <label class="custom-control-label text-secondary" for="individual2">Jobs Retained
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="individual3" name="individual">
                        <label class="custom-control-label text-secondary" for="individual3">Community Services
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div>
            <div class="custom-control custom-checkbox custom-control-inline my-2">
                <input type="checkbox" class="custom-control-input" id="example3" name="example3">
                <label class="custom-control-label font-weight-bold" for="example3">Activity Beneficiaries
                </label>
            </div>
            <div>
                <div class="project-check-group px-2 py-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="activity1" name="activity">
                        <label class="custom-control-label text-secondary" for="activity1">Small Business (SBA)
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="activity2" name="activity">
                        <label class="custom-control-label text-secondary" for="activity2">Other
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div>
            <div class="custom-control custom-checkbox custom-control-inline my-2">
                <input type="checkbox" class="custom-control-input" id="example4" name="example4">
                <label class="custom-control-label font-weight-bold" for="example4">Other Beneficiaries
                </label>
            </div>
            <div>
                <div class="project-check-group px-2 py-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="other" name="other">
                        <label class="custom-control-label text-secondary" for="other">Other Targeted Beneficiaries
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-2 my-4">
        <div class="float-right">
            <button class="btn btn-primary px-3"><fa-icon [icon]="['far', 'save']" class="mr-2"></fa-icon>Update</button>
            <button class="btn btn-secondary ml-2 px-3"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
