<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../review/', projectNo]">Application Review</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../log/', projectNo]">Project Log</div>
    </div>
    <form [formGroup]="snapshotForm">
    <div class="m-2">
        <div><label class="font-weight-bold">Application & Review Snapshot</label></div>
        <div class="project-check-group p-2">
            <div style="width: 100%; display: flex; flex-wrap: wrap;">
                <div style="flex: 0 0 14.28%;">
                    <div class="py-2 pr-2">
                        <div><label>Application Date</label></div>
                        <div><input type="text" class="form-control" formControlName="applicationDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Total Amount Requested</label></div>
                        <div><input type="text" class="form-control" formControlName="totalAmountRequested" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Analyst Review End Date</label></div>
                        <div><input type="text" class="form-control" formControlName="analystReviewEndDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Manager Decision</label></div>
                        <div><input type="text" class="form-control" formControlName="managerDecision" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Manager Review End Date</label></div>
                        <div><input type="text" class="form-control" formControlName="managerReviewEndDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Total Review Turntime</label></div>
                        <div><input type="text" class="form-control" formControlName="totalReviewTurntime" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="py-2 pl-2">
                        <div><label>Notification Sent Date</label></div>
                        <div><input type="text" class="form-control" formControlName="notificationSentDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="py-2 pr-2">
                        <div><label>Certification: Name</label></div>
                        <div><input type="text" class="form-control bdr-left-green" formControlName="certifiationName" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Certification: Title</label></div>
                        <div><input type="text" class="form-control bdr-left-green" formControlName="certificationTitle" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Certification: Date</label></div>
                        <div><input type="text" class="form-control bdr-left-green" formControlName="certificationDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Project Specific Application</label></div>
                        <div><input type="text" class="form-control" formControlName="projectSpecificApplication" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Project Name (Member Specified)</label></div>
                        <div><input type="text" class="form-control" formControlName="projectNameMemberSpecified" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 28.56%;">
                    <div class="py-2 pl-2">
                        <div><label>Description of the Project (if applicable)</label></div>
                        <div><input type="text" class="form-control" formControlName="projectDescription" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="py-2 pr-2">
                        <div><label>Current Review Status</label></div>
                        <div><input type="text" class="form-control" formControlName="currentReviewStatus" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Current Assingment</label></div>
                        <div><input type="text" class="form-control" formControlName="currentAssignment" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Current Assingment Start Date</label></div>
                        <div><input type="text" class="form-control" formControlName="currentAssignmentStartDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%;">
                    <div class="p-2">
                        <div><label>Current Turntime (Days Elapsed)</label></div>
                        <div><input type="text" class="form-control" formControlName="currentTurntimeDaysElapsed" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-2 my-4">
        <div><label class="font-weight-bold">Elibigility & Validity Results</label></div>
        <div style="background-color: #c8c8c8; text-align: center" class="p-4 my-2">
            Results of automated eligibility & validation checks run @ time of application submission
        </div>
    </div>

    <div class="mx-2 my-4">
        <div><label class="font-weight-bold">Credit Check</label></div>
        <div style="background-color: #c8c8c8; text-align: center" class="p-4 my-2">
            Results of Credit Check (if integration with credit check web service is feasible) (system runs credit check automatically at time of import and stores results, with ability for user to re-run at anytime during application review phase)
        </div>
    </div>

    <div class="mx-2 my-4">
        <div class="float-right">
            <button class="btn btn-primary px-3"><fa-icon [icon]="['far', 'file-alt']" class="mr-2"></fa-icon>Run Credit Check</button>
        </div>
        <div class="clearfix"></div>
    </div>
        <div class="m-2">
            <div><label class="font-weight-bold">Analyst Review</label></div>
            <div class="project-check-group p-2">
                <div style="width: 100%; display: flex; flex-wrap: wrap;">
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Assigned Analyst</label></div>
                            <div><input type="text" class="form-control" formControlName="assignedAnalyst" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Review Start Date</label></div>
                            <div><input type="text" class="form-control" formControlName="analystReviewStartDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Review End Date</label></div>
                            <div><input type="text" class="form-control" formControlName="analystReviewEndDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Turntime</label></div>
                            <div><input type="text" class="form-control" formControlName="analystTurntime" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 25%;">
                        <div class="p-2">
                            <div><label>Comments</label></div>
                            <div><input type="text" class="form-control" formControlName="analystComments" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Recommendation</label></div>
                            <div><input type="text" class="form-control" formControlName="analystRecommendation" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-2">
            <div><label class="font-weight-bold">Manager Review</label></div>
            <div class="project-check-group p-2">
                <div style="width: 100%; display: flex; flex-wrap: wrap;">
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Assigned Manager</label></div>
                            <div><input type="text" class="form-control" formControlName="assinedManager" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Review Start Date</label></div>
                            <div><input type="text" class="form-control" formControlName="managerReviewStartDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Review End Date</label></div>
                            <div><input type="text" class="form-control" formControlName="managerReviewEndDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Turntime</label></div>
                            <div><input type="text" class="form-control" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 25%;">
                        <div class="p-2">
                            <div><label>Comments</label></div>
                            <div><input type="text" class="form-control" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%;">
                        <div class="p-2">
                            <div><label>Decision</label></div>
                            <div><input type="text" class="form-control" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="mx-2 my-4">
        <div class="float-right">
            <button class="btn btn-primary px-3" ><fa-icon [icon]="['far', 'save']" class="mr-2"></fa-icon>Update</button>
            <button class="btn btn-secondary ml-2 px-3"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
