<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}} - {{info?.projName}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../review/', projectNo]">Application Review</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../log/', projectNo]">Project Log</div>
    </div>
    <form [formGroup]="snapshotForm">
    <div class="m-2">
        <div><label class="font-weight-bold">Application & Review Snapshot</label></div>
        <div class="project-check-group p-2">
            <div style="width: 100%; display: flex; flex-wrap: wrap;">
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="py-2 pr-2">
                        <div class="text-truncate"><label class="text-truncate d-block" title="Application Date">Application Date</label></div>
                        <div>
                            <input type="text" class="form-control" formControlName="applicationDate" />
                        </div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Total Amount Requested">Total Amount Requested</label></div>
                        <div><input type="text" class="form-control" formControlName="totalAmountRequested" [value]="snapshotForm.get('totalAmountRequested').value | currency : 'USD' : 'symbol' : '1.0-0'" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Analyst Review End Date">Analyst Review End Date</label></div>
                        <div><input type="text" class="form-control" formControlName="analystReviewEndDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Manager Decision">Manager Decision</label></div>
                        <div><input type="text" class="form-control" formControlName="managerDecision" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Manager Review End Date">Manager Review End Date</label></div>
                        <div><input type="text" class="form-control" formControlName="managerReviewEndDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Total Review Turntime">Total Review Turntime</label></div>
                        <div><input type="text" class="form-control" formControlName="totalReviewTurntime" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="py-2 pl-2">
                        <div><label class="text-truncate d-block" title="Notification Sent Date">Notification Sent Date</label></div>
                        <div><input type="text" class="form-control" formControlName="notificationSentDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="py-2 pr-2">
                        <div><label class="text-truncate d-block" title="Certification: Name">Certification: Name</label></div>
                        <div><input type="text" class="form-control bdr-left-green" formControlName="certifiationName" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Certification: Title">Certification: Title</label></div>
                        <div><input type="text" class="form-control bdr-left-green" formControlName="certificationTitle" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Certification: Date">Certification: Date</label></div>
                        <div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control bdr-left-green" formControlName="certificationDate" />
                                    <div class="input-group-append">
                                        <button class="btn"  type="button" style="border: 1px solid #ced4da;">
                                            <fa-icon icon="calendar-alt"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Project Specific Application">Project Specific Application</label></div>
                        <div>
                            <select class="form-control" formControlName="projectSpecificApplication">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Project Name (Member Specified)">Project Name (Member Specified)</label></div>
                        <div><input type="text" class="form-control" formControlName="projectNameMemberSpecified" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 28.56%; min-width: 0">
                    <div class="py-2 pl-2">
                        <div><label class="text-truncate d-block" title="Description of the Project (if applicable)">Description of the Project (if applicable)</label></div>
                        <div><input type="text" class="form-control" formControlName="projectDescription" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="py-2 pr-2">
                        <div><label class="text-truncate d-block" title="Current Review Status">Current Review Status</label></div>
                        <div><input type="text" class="form-control" formControlName="currentReviewStatus" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Current Assingment">Current Assingment</label></div>
                        <div><input type="text" class="form-control" formControlName="currentAssignment" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Current Assingment Start Date">Current Assingment Start Date</label></div>
                        <div><input type="text" class="form-control" formControlName="currentAssignmentStartDate" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 14.28%; min-width: 0">
                    <div class="p-2">
                        <div><label class="text-truncate d-block" title="Current Turntime (Days Elapsed)">Current Turntime (Days Elapsed)</label></div>
                        <div><input type="text" class="form-control" formControlName="currentTurntimeDaysElapsed" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-2 my-4">
        <div><label class="font-weight-bold">Elibigility & Validity Results</label></div>
        <div style="background-color: #c8c8c8; text-align: center" class="p-4 my-2">
            Results of automated eligibility & validation checks run @ time of application submission
        </div>
    </div>

    <div class="mx-2 my-4">
        <div><label class="font-weight-bold">Credit Check</label></div>
        <div style="background-color: #c8c8c8; text-align: center" class="p-4 my-2">
            <div [ngClass]="creditCheckResult?.result === '' ? '' : (creditCheckResult?.result === 'success' ? 'text-success font-weight-bold' : 'text-danger font-weight-bold')"><fa-icon *ngIf="creditCheckResult?.result === 'success'" class="mr-2" icon="check-circle"></fa-icon><fa-icon *ngIf="creditCheckResult?.result === 'failed'" class="mr-2" icon="times-circle"></fa-icon>{{creditCheckResult?.msg}}</div>
        </div>
    </div>

    <div class="mx-2 my-4">
        <div class="float-right">
            <button [ngClass]="runningCreditCheck ? 'btn-secondary' : 'btn-primary'" class="btn px-3" (click)="runCreditCheck()">
                <fa-icon *ngIf="!runningCreditCheck" [icon]="['far', 'file-alt']" class="mr-2"></fa-icon>
                <fa-icon *ngIf="runningCreditCheck" icon="spinner" [spin]="true" class="mr-2"></fa-icon>Run Credit Check</button>
        </div>
        <div class="clearfix"></div>
    </div>
        <div class="m-2">
            <div><label class="font-weight-bold">Analyst Review</label></div>
            <div class="project-check-group p-2">
                <div style="width: 100%; display: flex; flex-wrap: wrap;">
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Assigned Analyst">Assigned Analyst</label></div>
                            <div><input type="text" class="form-control" formControlName="assignedAnalyst" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Review Start Date">Review Start Date</label></div>
                            <div><input type="text" class="form-control" formControlName="analystReviewStartDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Review End Date">Review End Date</label></div>
                            <div><input type="text" class="form-control" formControlName="analystReviewEndDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Turntime">Turntime</label></div>
                            <div><input type="text" class="form-control" formControlName="analystTurntime" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 25%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Comments">Comments</label></div>
                            <div><input type="text" class="form-control" formControlName="analystComments" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Recommendation">Recommendation</label></div>
                            <div>
                                <select class="form-control" formControlName="analystRecommendation">
                                    <option value="null">Select Recommendation</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-2">
            <div><label class="font-weight-bold">Manager Review</label></div>
            <div class="project-check-group p-2">
                <div style="width: 100%; display: flex; flex-wrap: wrap;">
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Assigned Manager">Assigned Manager</label></div>
                            <div><input type="text" class="form-control" formControlName="assinedManager" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Review Start Date">Review Start Date</label></div>
                            <div><input type="text" class="form-control" formControlName="managerReviewStartDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Review End Date">Review End Date</label></div>
                            <div><input type="text" class="form-control" formControlName="managerReviewEndDate" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Turntime">Turntime</label></div>
                            <div><input type="text" class="form-control" formControlName="managerTurntime" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 25%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Comments">Comments</label></div>
                            <div><input type="text" class="form-control" formControlName="managerComments" /></div>
                        </div>
                    </div>
                    <div style="flex: 0 0 15%; min-width: 0">
                        <div class="p-2">
                            <div><label class="text-truncate d-block" title="Decision">Decision</label></div>
                            <div>
                                <select class="form-control" formControlName="managerDecision">
                                    <option value="null">Select Decision</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="mx-2 my-4">
        <div class="float-right">
            <button class="btn btn-primary px-3" (click)="addLog()"><fa-icon [icon]="['far', 'save']" class="mr-2"></fa-icon>Update</button>
            <button class="btn btn-secondary ml-2 px-3" routerLink="../../../projects"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
