<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../review/', projectNo]">Application Review</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../log/', projectNo]">Project Log</div>
    </div>

    <div class="my-2">
        <div class="ci-card-title">
            <div class="float-left">Project Log</div>
            <div class="float-right">

                <button class="btn btn-secondary ml-2 px-3" (click)="open(content)"><fa-icon icon="plus" class="mr-2"></fa-icon>Add</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="m-2">
            <table mat-table [dataSource]="logList" matSort #sort="matSort" class="mat-elevation-z8">
                <!-- Project Date Column -->
                <ng-container matColumnDef="projectDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.projectDate | date:'MM/dd/y hh:mm a'}} </td>
                </ng-container>

                <!-- Project User Column -->
                <ng-container matColumnDef="projectUser">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.projectUser}} </td>
                </ng-container>

                <!-- Entry Details Column -->
                <ng-container matColumnDef="entryDetails">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry Details </th>
                    <td mat-cell *matCellDef="let element"> {{element.entryDetails}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedLogColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedLogColumns;" [ngClass]="{'gray': even}"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" #matPaginator></mat-paginator>
        </div>
    </div>

    <div class="my-3">
        <div class="ci-card-title">
            <div>Search Control</div>
        </div>
        <div class="m-2">
            <div style="width: 100%; display: flex; flex-wrap: wrap;">
                <div style="flex: 0 0 20%;">
                    <div class="py-2 pr-2">
                        <div><label>User</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 20%;">
                    <div class="p-2">
                        <div><label>Entry Detail</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-2 my-3">
        <div class="float-right">
            <button class="btn btn-primary px-3"><fa-icon icon="search" class="mr-2"></fa-icon>Search</button>
            <button class="btn btn-secondary ml-2 px-3">Reset</button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

<ng-template #content let-c="close" let-d="dismiss" class="abc">
    <form [formGroup]="addLogForm">
        <div class="modal-header custom">
            <h4 class="modal-title" id="modal-basic-title">Project Log</h4>
        </div>
        <div class="modal-body">
            <div class="row mt-5 mb-3">
                <div class="col-sm-4">
                    <div class="text-right"><span class="font-weight-bold">Date</span></div>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="addLogDate" [value]="currentDate | date : 'MM/dd/yyyy hh:mm a'" />
                </div>
                <div class="col-sm-4">
                    &nbsp;
                </div>
            </div>
            <div class="row my-3">
                <div class="col-sm-4">
                    <div class="text-right"><span class="font-weight-bold">User</span></div>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="addLogUser" />
                </div>
                <div class="col-sm-4">
                    &nbsp;
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-4">
                    <div class="text-right"><span class="font-weight-bold">Entry Details</span></div>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control bdr-left-green" formControlName="addLogEntry" />
                </div>
                <div class="col-sm-4">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3" (click)="addLog();c('Save click')"><fa-icon [icon]="['far', 'save']" class="mr-2"></fa-icon>Save</button>
            <button ngbAutofocus class="btn btn-secondary ml-2 px-3" (click)="c('Cancel click')"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
        </div>
    </form>
</ng-template>
