<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}} - {{info?.projName}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <form [formGroup]="infoForm">
        <div class="d-flex bd-highlight project-tabs">
            <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
            <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../review/', projectNo]">Application Review</div>
            <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
            <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
            <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
            <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../log/', projectNo]">Project Log</div>
        </div>
        <div class="m-2">
            <div><label class="font-weight-bold">Project Name</label></div>
            <div><input type="text" class="form-control bdr-left-green" formControlName="projName" /></div>
        </div>
        <div class="m-2">
            <div class="row">
                <div class="col-sm-4">
                    <div><label class="font-weight-bold">Info/Indicators</label></div>
                    <div class="project-check-group px-2 py-3 mr-4">
                        <div class="custom-control-inline custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="customRadio" value="urban" formControlName="programType" />
                            <label class="custom-control-label text-secondary" for="customRadio">Urban</label>
                        </div>
                        <div class="custom-control-inline custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="customRadio2" formControlName="programType" value="rural" />
                            <label class="custom-control-label text-secondary" for="customRadio2">Rural</label>
                        </div>
                        <br />
                        <div class="custom-control-inline custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="customRadio3" formControlName="projectType" value="Housing" />
                            <label class="custom-control-label text-secondary" for="customRadio3">Housing
                            </label>
                        </div>
                        <div class="custom-control-inline custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="customRadio4" formControlName="projectType" value="EconomicDevelopment" />
                            <label class="custom-control-label text-secondary" for="customRadio4">Economic Development
                            </label>
                        </div>
                        <div class="custom-control-inline custom-radio custom-control">
                            <input type="radio" class="custom-control-input" id="customRadio5" formControlName="projectType" value="MixedUse" />
                            <label class="custom-control-label text-secondary" for="customRadio5">Mixed Use
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ml-2 mr-2"><label class="font-weight-bold">Units</label></div>
                    <div class="project-check-group p-2 ml-2 mr-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div><label class="mb-0 d-block text-truncate" title="Rental Units">Rental Units</label></div>
                                <div><input type="text" class="form-control bdr-left-green" formControlName="noOfRentalUnits" /></div>
                            </div>
                            <div class="col-sm-6">
                                <div><label class="mb-0 d-block text-truncate" title="Owner-Occupied Units">Owner-Occupied Units</label></div>
                                <div><input type="text" class="form-control bdr-left-green" formControlName="noOfOwnedUnits" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ml-4"><label class="font-weight-bold">Job Creation/Retention</label></div>
                    <div class="project-check-group p-2 ml-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <div><label class="mb-0 d-block text-truncate" title="Jobs Created">Jobs Created</label></div>
                                <div><input type="text" class="form-control bdr-left-green" formControlName="noOfJobsCreated" /></div>
                            </div>
                            <div class="col-sm-6">
                                <div><label class="mb-0 d-block text-truncate" title="Jobs Retained">Jobs Retained</label></div>
                                <div><input type="text" class="form-control bdr-left-green" formControlName="noOfJobsRetained" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="geoDefinedBeneficiaries" />
                    <label class="custom-control-label font-weight-bold" for="customCheck">Geographically Defined Beneficiaries
                    </label>
                </div>
                <div>
                    <div class="project-check-group px-2 py-3">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="targetedIncome" />
                            <label class="custom-control-label text-secondary" for="customCheck1">Targeted Home
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" formControlName="championCommunity" />
                            <label class="custom-control-label text-secondary" for="customCheck2">Champion Community
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" formControlName="empowermentZone" />
                            <label class="custom-control-label text-secondary" for="customCheck3">Empowerment Zone
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" formControlName="enterpriseCommunity" />
                            <label class="custom-control-label text-secondary" for="customCheck4">Enterprise Community
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck5" formControlName="indianArea" />
                            <label class="custom-control-label text-secondary" for="customCheck5">Indian Area
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck6" formControlName="brownfieldTaxCredit" />
                            <label class="custom-control-label text-secondary" for="customCheck6">Brownfield Tax Credit
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck7" formControlName="disasterArea" />
                            <label class="custom-control-label text-secondary" for="customCheck7">Disaster Area
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck8" formControlName="militaryBaseClosing" />
                            <label class="custom-control-label text-secondary" for="customCheck8">Military Base Closing
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck9" formControlName="communityAdjustmentandInvestmentProgram" />
                            <label class="custom-control-label text-secondary" for="customCheck9">Community Adjustment and Investment Program
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline my-2">
                    <input type="checkbox" class="custom-control-input" id="example2" formControlName="individualBeneficiaries" />
                    <label class="custom-control-label font-weight-bold" for="example2">Individual Beneficiaries
                    </label>
                </div>
                <div>
                    <div class="project-check-group px-2 py-3">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="individual1" formControlName="jobsCreated" />
                            <label class="custom-control-label text-secondary" for="individual1">Jobs Created
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="individual2" formControlName="jobsRetained" />
                            <label class="custom-control-label text-secondary" for="individual2">Jobs Retained
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="individual3" formControlName="communityServices" />
                            <label class="custom-control-label text-secondary" for="individual3">Community Services
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline my-2">
                    <input type="checkbox" class="custom-control-input" id="example3" formControlName="activityBeneficiaries" />
                    <label class="custom-control-label font-weight-bold" for="example3">Activity Beneficiaries
                    </label>
                </div>
                <div>
                    <div class="project-check-group px-2 py-3">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="activity1" formControlName="smallBusiness" />
                            <label class="custom-control-label text-secondary" for="activity1">Small Business (SBA)
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="activity2" formControlName="other" />
                            <label class="custom-control-label text-secondary" for="activity2">Other
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline my-2">
                    <input type="checkbox" class="custom-control-input" id="example4" formControlName="otherBeneficiaries" />
                    <label class="custom-control-label font-weight-bold" for="example4">Other Beneficiaries
                    </label>
                </div>
                <div>
                    <div class="project-check-group px-2 py-3">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="other" formControlName="otherTargetedBeneficiaries" />
                            <label class="custom-control-label text-secondary" for="other">Other Targeted Beneficiaries
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 my-4">
            <div class="float-right">
                <button [ngClass]="updating ? 'btn-secondary' : 'btn-primary'" class="btn px-3" (click)="submitForm()">
                    <fa-icon *ngIf="!updating" [icon]="['far', 'save']" class="mr-2"></fa-icon>
                    <fa-icon *ngIf="updating" icon="spinner" [spin]="true" class="mr-2"></fa-icon>Update</button>

                <button class="btn btn-secondary ml-2 px-3" routerLink="../../../projects"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
