<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">#{{projectNo}}</a>
                </li>
            </ol>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Program:</span> CIP</button>
                <button class="btn btn-primary bread-btn mr-2"><span class="font-weight-bold">Status:</span> In Review</button>
                <button class="btn btn-primary bread-btn"><span class="font-weight-bold">Member:</span> #1 - Member #1</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="d-flex bd-highlight project-tabs">
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../detail/', projectNo]">Info & Beneficiaries</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../review/', projectNo]">Application Review</div>
        <div class="p-2 flex-fill bd-highlight active-tab" [routerLink]="['../../pool/', projectNo]">Loan Pool</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../activity/', projectNo]">Commitment & Advance Activity</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../contacts/', projectNo]">Email Notification & Contacts</div>
        <div class="p-2 flex-fill bd-highlight" [routerLink]="['../../log/', projectNo]">Project Log</div>
    </div>

    <div class="m-2">
        <div><label class="font-weight-bold">Loan Pool Summary</label></div>
        <div class="project-check-group p-2">
            <div style="width: 100%; display: flex; flex-wrap: wrap;">
                <div style="flex: 0 0 12.5%;">
                    <div class="py-2 pr-2">
                        <div><label>Total (# Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Qualified (# Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Rejected (# Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Unreviewed (# Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Total ($ Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Qualified ($ Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="p-2">
                        <div><label>Rejected ($ Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
                <div style="flex: 0 0 12.5%;">
                    <div class="py-2 pl-2">
                        <div><label>Unreviewed ($ Loans)</label></div>
                        <div><input type="text" class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4">
        <div class="ci-card-title">
            <div class="float-left">Loan Pool Listing</div>
            <div class="float-right">
            <span class="header-page">
                Show <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator> entries
            </span>
                <button class="btn btn-secondary px-3" (click)="exporter.exportTable('csv')"><fa-icon [icon]="['far', 'file']" class="mr-2"></fa-icon>CSV</button>
                <button class="btn btn-secondary px-3" (click)="exporter.exportTable('xls')"><fa-icon icon="file-excel" class="mr-2"></fa-icon>XLS</button>
                <button class="btn btn-secondary ml-2 px-3"><fa-icon icon="sync-alt" class="mr-2"></fa-icon>Refresh</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="m-2">
            Table
        </div>
    </div>

</div>
