<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Activity Pipeline</a>
                </li>
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="ci-card-title">
        <div class="float-left">Activity Pipeline</div>
        <div class="float-right">
            <span class="header-page">
                Show <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator> entries
            </span>
            <button class="btn btn-secondary px-3" (click)="exporter.exportTable('csv')"><fa-icon [icon]="['far', 'file']" class="mr-2"></fa-icon>CSV</button>
            <button class="btn btn-secondary px-3" (click)="exporter.exportTable('xls')"><fa-icon icon="file-excel" class="mr-2"></fa-icon>XLS</button>
            <button class="btn btn-secondary ml-2 px-3" (click)="pageLoad()"><fa-icon icon="sync-alt" class="mr-2"></fa-icon>Refresh</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="m-3">
        <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8" #exporter="matTableExporter">

            <!-- Project No. Column -->
            <ng-container matColumnDef="projectNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Project No. </th>
                <td mat-cell *matCellDef="let element"> <a class="font-weight-normal text-primary" [routerLink]="['../../projects/detail/', element.projectNo]">{{element.projectNo}}</a> </td>
            </ng-container>

            <!-- Program Column -->
            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Program </th>
                <td mat-cell *matCellDef="let element"> {{element.program}} </td>
            </ng-container>

            <!-- Member Column -->
            <ng-container matColumnDef="member">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Member </th>
                <td mat-cell *matCellDef="let element"> {{element.member}} </td>
            </ng-container>

            <!-- Application Date Column -->
            <ng-container matColumnDef="application.applicationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Date </th>
                <td mat-cell *matCellDef="let element"> {{element.application.applicationDate}} </td>
            </ng-container>

            <!-- Project Status Column -->
            <ng-container matColumnDef="projectStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Status </th>
                <td mat-cell *matCellDef="let element"> {{element.projectStatus}} </td>
            </ng-container>

            <!-- Commitment Balance Column -->
            <ng-container matColumnDef="application.applicationReviewStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Review Status </th>
                <td mat-cell *matCellDef="let element"> {{element.application.applicationReviewStatus}} </td>
            </ng-container>

            <!-- Commitment Expiration Column -->
            <ng-container matColumnDef="currentAssign">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Assignment </th>
                <td mat-cell *matCellDef="let element"> {{element.currentAssign}} </td>
            </ng-container>

            <!-- Commitment Expiration Column -->
            <ng-container matColumnDef="currentAssStDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Assignment Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.currentAssStDate}} </td>
            </ng-container>

            <!-- Commitment Expiration Column -->
            <ng-container matColumnDef="analystsAssigned">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Analyst Assignment </th>
                <td mat-cell *matCellDef="let element">
                    <select class="form-control" style="height: calc(1.5em + 0.75rem - 4px)">
                        <option *ngFor="let analyst of element.analystsAssigned; let i = index" [value]="analyst">{{analyst}}</option>
                    </select>
                </td>
            </ng-container>

            <!-- Commitment Expiration Column -->
            <ng-container matColumnDef="managersAssigned">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Assignment </th>
                <td mat-cell *matCellDef="let element">
                    <select class="form-control" style="height: calc(1.5em + 0.75rem - 4px)">
                        <option *ngFor="let manager of element.managersAssigned; let i = index" [value]="manager">{{manager}}</option>
                    </select>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'gray': even}"></tr>
        </table>
        <mat-paginator (page)="syncPrimaryPaginator($event)"
                       [pageSize]="paginator.pageSize" [pageIndex]="paginator.pageIndex"
                       [length]="paginator.length" [pageSizeOptions]="paginator.pageSizeOptions"></mat-paginator>
    </div>
    <div class="m-3">
        <div class="float-right">
            <button class="btn btn-primary px-3" (click)="search()"><fa-icon icon="save" class="mr-2"></fa-icon>Update</button>
            <button class="btn btn-secondary ml-2 px-3"><fa-icon icon="ban" class="mr-2"></fa-icon>Cancel</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="ci-card-title">
        Search Controls
    </div>
    <form [formGroup]="searchForm">
        <div class="ml-3 mr-3 mt-4 mb-4">
            <div class="row">
                <div class="col-sm-3">
                    <div><label>Project No</label></div>
                    <div class="mr-5">
                        <input class="form-control" type="text" formControlName="projectNo" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <label>Project Name</label>
                    </div>
                    <div class="mr-5">
                        <input class="form-control" type="text" formControlName="projectName" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <label>Program</label></div>
                    <div class="mr-5">
                        <select class="form-control" formControlName="program">
                            <option value="null">Any Program</option>
                            <option *ngFor="let programs of controlList?.programsList; let i = index" [value]="programs">{{programs}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Project Status</label>
                    <select class="form-control" formControlName="projectStatus">
                        <option value="null">Any Project Status</option>
                        <option *ngFor="let projectStatus of controlList?.projectStatusList; let i = index" [value]="projectStatus">{{projectStatus}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ml-3 mr-3 mt-5 mb-5">
            <div class="row">
                <div class="col-sm-3">
                    <label>Commitment Status</label>
                    <div class="mr-5">
                        <select class="form-control" formControlName="commitmentStatus">
                            <option value="null">Any Commitment Status</option>
                            <option *ngFor="let commitmentStatus of controlList?.commitmentStatusList; let i = index" [value]="commitmentStatus">{{commitmentStatus}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Member</label>
                    <div class="mr-5">
                        <select class="form-control" formControlName="member">
                            <option value="null">Select Member</option>
                            <option *ngFor="let members of controlList?.membersList; let i = index" [value]="members">{{members}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-3">
                    <div class="float-right">
                        &nbsp;<br />
                        <button class="btn btn-primary px-3" (click)="search()"><fa-icon icon="search" class="mr-2"></fa-icon>Search</button>
                        <button class="btn btn-secondary ml-2 px-3">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
