<div class="row">
    <div class="col">
        <div class="float-left">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Projects</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Applications in Progress</a>
                </li>
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ci-card">
    <div class="ci-card-title">
        <div class="float-left">Applications in Progress</div>
        <div class="float-right">
            <span class="header-page">
                Show <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator> entries
            </span>
            <button class="btn btn-secondary px-3" (click)="exporter.exportTable('csv')"><fa-icon [icon]="['far', 'file']" class="mr-2"></fa-icon>CSV</button>
            <button class="btn btn-secondary px-3" (click)="exporter.exportTable('xls')"><fa-icon icon="file-excel" class="mr-2"></fa-icon>XLS</button>
            <button class="btn btn-secondary ml-2 px-3" (click)="pageLoad()"><fa-icon icon="sync-alt" class="mr-2"></fa-icon>Refresh</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="m-3">
        <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8" #exporter="matTableExporter">

            <!-- Project No. Column -->
            <ng-container matColumnDef="projectNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application # </th>
                <td mat-cell *matCellDef="let element"> {{element.projectNo}} </td>
            </ng-container>

            <!-- Program Column -->
            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Program </th>
                <td mat-cell *matCellDef="let element"> {{element.program}} </td>
            </ng-container>

            <!-- Member Column -->
            <ng-container matColumnDef="member">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Member </th>
                <td mat-cell *matCellDef="let element"> {{element.member}} </td>
            </ng-container>

            <!-- Project Status Column -->
            <ng-container matColumnDef="application.createdOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                <td mat-cell *matCellDef="let element"> {{element.application.createdOn}} </td>
            </ng-container>

            <!-- Commitment Status Column -->
            <ng-container matColumnDef="application.createdBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                <td mat-cell *matCellDef="let element"> {{element.application.createdBy}} </td>
            </ng-container>

            <!-- Commitment Balance Column -->
            <ng-container matColumnDef="application.currentCompletePer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current % Complete </th>
                <td mat-cell *matCellDef="let element">
                    <div class="progress">
                        <div class="progress-bar" [ngStyle]="{'width': element.application.currentCompletePer + '%'}">{{element.application.currentCompletePer}}%</div>
                    </div>
                </td>
            </ng-container>

            <!-- Commitment Expiration Column -->
            <ng-container matColumnDef="application.lastUpdatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Update/Save </th>
                <td mat-cell *matCellDef="let element"> {{element.application.lastUpdatedOn}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'gray': even}"></tr>
        </table>
        <mat-paginator (page)="syncPrimaryPaginator($event)"
                       [pageSize]="paginator.pageSize" [pageIndex]="paginator.pageIndex"
                       [length]="paginator.length" [pageSizeOptions]="paginator.pageSizeOptions"></mat-paginator>
    </div>
</div>

<div class="ci-card">
    <div class="ci-card-title">
        Search Controls
    </div>
    <form [formGroup]="searchForm">
        <div class="ml-3 mr-3 mt-4 mb-5">
            <div class="row">
                <div class="col-sm-3">
                    <div><label>Application #</label></div>
                    <div class="mr-5">
                        <input class="form-control" type="text" formControlName="applicationNo" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <label>Program</label></div>
                    <div class="mr-5">
                        <select class="form-control" formControlName="program">
                            <option value="null">Any Program</option>
                            <option *ngFor="let programs of controlList?.programsList; let i = index" [value]="programs">{{programs}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Member</label>
                    <div class="mr-5">
                        <select class="form-control" formControlName="member">
                            <option value="null">Select Member</option>
                            <option *ngFor="let members of controlList?.membersList; let i = index" [value]="members">{{members}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="my-3">
                        <div class="float-right">
                            <button class="btn btn-primary px-3"><fa-icon icon="search" class="mr-2"></fa-icon>Search</button>
                            <button class="btn btn-secondary ml-2 px-3">Reset</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
