@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a,
a:hover {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

.card {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.ci-card {
  border: 1px solid #0c306e;
  margin-top: 10px;
  background-color: #ffffff;
  .ci-card-title {
    background-color: #0c306e;
    color: #ffffff;
    padding: 0.5rem;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
  }
}
table {
  &.mat-table {
    width: 100%;
    box-shadow: none;
    .gray {
      background-color: #dee1e6;
    }
    tr.mat-header-row {
      height: 35px;
    }
    tr.mat-row {
      height: 40px;
    }
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      border-bottom-width: 0;
      border-bottom-style: none;
      padding-left: 24px;
    }
    td.mat-cell {
      border-right: 1px solid #c5c5c6;
      color: #000000;
    }
    td.mat-cell:last-of-type {
      border-right: none;
    }
    th.mat-header-cell {
      font-weight: bold;
      color: #000000;
      font-size: 14px;
    }
  }
}

.btn {
  border-radius: 0px;
  &.btn-secondary {
    background-color: #6c757e;
  }
  &.btn-primary {
    background-color: #0c306e;
  }
}

// override material paginator
.header-page {
  font-size: 1rem;
  .mat-paginator {
    display: inline-block;
    background-color: transparent;
    color: #ffffff;
    .mat-form-field-infix {
      background-color: #ffffff;
      border: 1px solid #000;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-paginator-page-size-label,
    .mat-form-field-underline {
      display: none;
    }
    .mat-paginator-container {
      padding: 0;
      min-height: 45px;
    }
    .mat-paginator-page-size {
      margin-right: 0;
    }
  }
  .mat-paginator-range-actions {
    display: none;
  }
}
//.mat-paginator {
//  .mat-paginator-container {
//    justify-content: normal;
//  }
//
//  // override material paginator page switch
//  .mat-paginator-range-label {
//    order: 2;
//  }
//
//  .mat-paginator-navigation-previous {
//    order: 1;
//  }
//  .mat-paginator-navigation-next {
//    order: 3;
//  }
//}
.project-tabs {
  div {
    color: #000000;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    cursor: pointer;
    &:last-of-type {
      border-rightm-width: 0px;
    }
    &.active-tab {
      background-color: #0c306e;
      color: #ffffff;
    }
  }
}
.project-check-group {
  border: 1px solid #c8c8c8;
}
.form-control {
  border-radius: 0;
}
.bdr-left-green {
  border-left: 8px solid #047d04;
}

/* Cusror */
.cursor-alias {
  cursor: alias;
}
.cursor-all-scroll {
  cursor: all-scroll;
}
.cursor-auto {
  cursor: auto;
}
.cursor-cell {
  cursor: cell;
}
.cursor-context-menu {
  cursor: context-menu;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-copy {
  cursor: copy;
}
.cursor-crosshair {
  cursor: crosshair;
}
.cursor-default {
  cursor: default;
}
.cursor-e-resize {
  cursor: e-resize;
}
.cursor-ew-resize {
  cursor: ew-resize;
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-help {
  cursor: help;
}
.cursor-move {
  cursor: move;
}
.cursor-n-resize {
  cursor: n-resize;
}
.cursor-ne-resize {
  cursor: ne-resize;
}
.cursor-nesw-resize {
  cursor: nesw-resize;
}
.cursor-ns-resize {
  cursor: ns-resize;
}
.cursor-nw-resize {
  cursor: nw-resize;
}
.cursor-nwse-resize {
  cursor: nwse-resize;
}
.cursor-no-drop {
  cursor: no-drop;
}
.cursor-none {
  cursor: none;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-progress {
  cursor: progress;
}
.cursor-row-resize {
  cursor: row-resize;
}
.cursor-s-resize {
  cursor: s-resize;
}
.cursor-se-resize {
  cursor: se-resize;
}
.cursor-sw-resize {
  cursor: sw-resize;
}
.cursor-text {
  cursor: text;
}
.cursor-w-resize {
  cursor: w-resize;
}
.cursor-wait {
  cursor: wait;
}
.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}
/* Cursors */
.breadcrumb {
  background-color: transparent;
  a,
  a:hover {
    color: #3e8acc;
    font-weight: normal;
  }
}
.bread-btn {
  background-color: #3f8acd !important;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 40px;
}
